<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Is Enabled?</th>
            @if(authService.isInRole('UserDelete')){
            <th scope="col">Delete</th>
            }
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <th>{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>
                @if(user.enabled){
                <span class="badge text-bg-success">Active</span>
                }@else {
                <span class="badge text-bg-danger">Passive</span>
                }
            </td>
            @if(authService.isInRole('UserDelete')){
            <td>
                <button (click)="delete(user.id,user.username)" class="btn btn-outline-danger">Delete</button>
            </td>
            }
            <td>
                <button (click)="getUserRoles(user.id)" class="btn btn-outline-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Roles</button>
            </td>
        </tr>
        }

    </tbody>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Roles Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @for (item of userRoles; track $index) {
                        <div class="form-check">
                            <input type="checkbox" [(ngModel)]="item.isSelect" [name]="item.name" 
                                [value]="item.id" [id]="'checkbox-' + item.id" class="form-check-input">
                            <label class="form-check-label" [for]="'checkbox-' + 'item.id'">
                                {{item.name}}
                            </label>
                        </div>
                        
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveRoles()">Save</button>
                </div>
            </div>
        </div>
    </div>
