<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Angular Keycloak App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        routerlinkactiveOptions="{ exact: true }">Home</a>
                </li>
                @if(authService.isInRole("UserGetAll")){
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active"
                        routerlinkactiveOptions="{ exact: true }">Users</a>
                </li>
                }

                @if(authService.isInRole("RoleGetAll")){
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/roles" routerLinkActive="active"
                        routerlinkactiveOptions="{ exact: true }">Roles</a>
                </li>
                }


            </ul>
            @if(authService.isAuthenticate()){
            <button class="btn btn-outline-danger" (click)="authService.logout()">Logout
                ({{this.authService.getUser()?.name}})</button>
            }

        </div>
    </nav>

    <router-outlet></router-outlet>
</div>